# Assignment 1

#Answer-1

'*' = expression

'hello' = value

-87.8 =  value

'-' = expression

'/' = expression

'+'= expression

6 = value

#Answer-2   

String is a type of value or data which is assigned to any variable.It is a array of bytes representing unicode characters wrapped inside single, double or triple quotes and it is an immutable sequence data type whereas variables are reserved memory location to store values or a label that we can assign a value
Example - a='6Apples'
here 'a' is variable and its value is 6Appples which is string type value

#Answer-3

03 Data Types

a) Integer - denoted by 'Int' - Any numerical value without decimal is integer data type.
Example - a=9 -- here 9 is Integer type data
b) String - denoted by 'str' - Any alphabet or alphanumeric charcater is string data type.
Example - b= 'gh78ee' -- here gh78ee is string type data
c)Float- denoted by 'float'- Any numeric value with decimal is float data type
Example - c=9.0 -- here 9.0 is float type data

#Answer-4

Expression consist of arithmetic, logical, relational etc operators with values or variables.
Some of the following expressions are-
a)Arithmetic Expression- These will perform function like subtraction, division etc
b)logical expression- These will specify one or more condition and result in either True or False.
c)Relational expression -These will do comparison as per relational operator and produce a boolean output in the result

#Answer-5

Assignment statement 
spam = 10. Here we are assigning value 10 to a variable named as 'spam'.
The expression is a line consist of arithmetic, logical, relational etc operators and operands like numerical values whereas statements are one or more line of code used to assign variable or check any particular condition

#Answer-6

In [4]:
bacon=11

In [5]:
bacon+1

12

In [6]:
bacon

11

After running code, still 'bacon' variable contains value 11

#Answer-7

In [7]:
'spam'+'spamspam'

'spamspamspam'

In [8]:
'spam'*3

'spamspamspam'

#Answer-8

eggs is a valid variable name but 100 is invalid because 100 is a literal & we cannot assign anything to literals.
Variable name must start with letter or underscore.

#Answer-9 

'int', 'float' and 'str' are 03 functions can used to get the integer, floating-point number, or string
version of a value respectively.
For Integer int() 
for Float - float() 
for string - str()

#Answer-10

In [1]:
'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str



'I have eaten' + 99 + 'burritos'
This expression cause error because string and integer cannot be added or concatenate. For such opeartion, type of data must be same,otherwise 'Type error' will be occurred.
To fix it, we will have to change type of integer 99 to string 99, i.e. '99'

In [2]:
'I have eaten' + str(99) + 'burritos'

'I have eaten99burritos'