In [1]:
s="sudhanshu"

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
n= int(input('Put Any Number'))
for i in range (n):
    for j in range(n):
        print('@',end=' ')

Put Any Number5
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @

In [6]:
n= int(input('Put Any Number'))
for i in range (n):
    for j in range(n):
        print('@',end=' ')
    print()

Put Any Number4
@ @ @ @
@ @ @ @
@ @ @ @
@ @ @ @

In [7]:
n= int(input('Put Any Number'))
for i in range (n):
    for j in range(i+1):
        print('@',end=' ')
    print()

Put Any Number3
@
@ @
@ @ @

In [11]:
n= int(input('Put Any Number'))
for i in range (n):
    for j in range(n-i):
        print('@',end=' ')
    print()

Put Any Number8
@ @ @ @ @ @ @ @
@ @ @ @ @ @ @
@ @ @ @ @ @
@ @ @ @ @
@ @ @ @
@ @ @
@ @
@

In [16]:
n= int(input('Put Any Number'))
for i in range (n):
    for j in range(i,n):
        print('@',end=' ')
    print()

Put Any Number4
@ @ @ @
@ @ @
@ @
@

range(2,5) means 2,3 & 4 i.e. 03 places only, not row or column number

In [19]:
n=5
for i in range(n):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(i+1):
        print('@',end=' ')
    print()

          @
        @ @
      @ @ @
    @ @ @ @
  @ @ @ @ @

It is very much clear that range gives number of items, not any certain location or cell or row number or index number.

In [20]:
n=5
for i in range(n):
    for j in range(i):
        print(' ',end=' ')
    for j in range(n-i):
        print('@',end=' ')
    print()

@ @ @ @ @
  @ @ @ @
    @ @ @
      @ @
        @

In [21]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('@',end=' ')
    print()

  @ @ @ @ @
    @ @ @ @
      @ @ @
        @ @
          @

In [27]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('@',end=' ')
    for j in range(i): 
        print('@',end=' ')
    print()

          @
        @ @ @
      @ @ @ @ @
    @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @ @

In [28]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print('@',end=' ')
    for j in range(i+1): 
        print('@',end=' ')n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('@',end=' ')
    for j in range(i): 
        print('@',end=' ')
    print()
    print()

          @
        @ @ @
      @ @ @ @ @
    @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @ @

In [29]:
n=5
for i in range(n):
    for j in range(i):
        print(' ',end=' ')
    for j in range(n-i):
        print('@',end=' ')
    for j in range(i,n): 
        print('@',end=' ')
    print()

@ @ @ @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @
    @ @ @ @ @ @
      @ @ @ @
        @ @

In [30]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i+1):
        print('@',end=' ')
    for j in range(i): 
        print('@',end=' ')
    print()
for i in range(n):
    for j in range(i):
        print(' ',end=' ')
    for j in range(n-i):
        print('@',end=' ')
    for j in range(i,n): 
        print('@',end=' ')
    print()

          @
        @ @ @
      @ @ @ @ @
    @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @ @
@ @ @ @ @ @ @ @ @ @
  @ @ @ @ @ @ @ @
    @ @ @ @ @ @
      @ @ @ @
        @ @